/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS
/*******************************************/

* {
     box-sizing: border-box;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */


/******************************************
/* LAYOUT
/*******************************************/
/* @media only screen and (max-width: 480px){
  .body {
	max-width: 960px;
	margin: 0 auto;
  }
  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,700,900);*/

h1 {
  color: #27aae2;
}

.logo {
background-image: url('../images/logo_RGB_colur.png') no-repeat 0 0;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}
input {
  font-family: "Source+Sans+Pro", sans-serif;
  outline: 0;
  background: rgba(54,169,224,0.07);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
button {
  font-family: "Source+Sans+Pro", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  outline: 0;
  background: #27aae2;
  width: 40%;
  border: 0;
  padding: 15px;
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
button:hover,.form button:active,.form button:focus {
  background: rgba(54,169,224,0.3);
}
message {
  margin: 15px 0 0;
  color: #27aae2;
  font-size: 12px;
}
.form .message a {
  color: #27aae2;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #27aae2;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: rgba(54,169,224,0.1);
}


  .site-header {

  }
  .site-content {

  }
  .site-footer {

  }
}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
