<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="site description goes here">
    	<meta name="keywords" content="site, keywords, go, here">
			<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">


		<title>Parents_Web_App</title>
		<div class="logo" href="http://playbrush.com">
		</div>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/main.css">
	</head>
		<main class="site-content">
	<body ng-app="app" ng-controller="Main as Main">

<div class="site-container">
	<header class="site-header">
		<div id="page-wrap">
			<div id="header">
				<h1>Playbrush Parents Web App</h1>
					<div class="login-page">

					<input type="text" ng-model="main.username" placeholder="username"><br>
					<input type="password" ng-model="main.password" placeholder="password"><br>
					<br>

					<button ng-click="main.register()">Register</button>
					<button ng-click="main.login()">Login</button>
					<button ng-click="main.logout()" ng-show="main.isAuthed()">Logout</button>
		    	<!-- <form class="login-form" ng-controller="LoginController" ng-submit="login(credentials)" novalidate>
						<label for="username">Email</label>
							<input type="text" id="username" ng-model="credentials.password">
						<label for="password">Password:</label>
							<input type="password" id="password" ng-model="credentials.password">
		      	<button type="submit">Login</button>
    			</form> -->
				</div>
				</div>
		</div>
	</div>
			</header>
			</main>

			<footer class="site-footer">
		<!-- 		&copy; 2016 -->
			</footer>
		</div><!-- .site-container -->


		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
		<script src="app.js"></script>

		<script src="app-services/authentication.service.js"></script>
		<script src="app-services/flash.service.js"></script>

		<!-- Real user service that uses an api -->
		<script src="app-services/user.service.js"></script>

		<script src="home/home.controller.js"></script>
		<script src="login/login.controller.js"></script>
		<script src="register/register.controller.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
